*[data-center='text'], textcenter{
    text-align: center;
 }
 *[data-center='blocktext'], blocktext{
    margin-left: auto;
    margin-right: auto;
 }
 *[data-center='block'], blockcenter{
    margin-left: auto;
    margin-right: auto;
 }
 *[data-center='textblocktext'], textblocktext{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }
 *[data-center='blockimage'], blockimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 *[data-center='viewportvertical'], viewportvertical{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
 }
 *[data-center='flexvertical'], flexvertical{
    display: flex;
    align-items: center;
 }
 *[data-center='flexhorizontal'], flexhorizontal{
    display: flex;
    justify-content: center;
 }
 *[data-center='flex'], flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 *[data-center='viewport'], viewportcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
 }
 *[data-center='viewporthorizontal'], viewporthorizontal{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
 }
 